<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("head")%>
</head>

<body>
    <%- include("navbar")%>

    <div class="container rounded-top bg-primary text-center text-light p-2 ">
        <h2>Raport</h2>
        <h4>Zwierzęta przebywające w schronisku</h4>
    </div>

    <% pawilony.rows.forEach(pawilon => { %>
        <br>
        <div class="container rounded-top bg-primary text-center text-light p-2 ">
            <h3>Pawilon "<%= pawilon.nazwa%>" - <%= pawilon.typ%> - <%= pawilon.gatunek%></h3>
        </div>
        <div class="container rounded-bottom bg-light text-center text-dark p-2 ">
            <table class="table text-dark">
                <thead>
                    <th>Imię</th>
                    <th>Rasa</th>
                    <th>Data urodzenia</th>
                    <th>W schronisku od</th>
                    <th>Uwagi</th>
                </thead>
                <tbody>
                    <% zwierzeta.rows.forEach(zwierze => { %>
                        <% if (zwierze.id_pawilonu == pawilon.id_pawilonu) { %>
                            <tr>
                                <td><%=zwierze.imie%></td>
                                <td><%=zwierze.rasa%></td>
                                <% if (zwierze.data_urodzenia != null) {
                                    let d1 = new Date([zwierze.data_przyjecia]);
                                    zwierze.data_urodzenia = d1.getUTCDate() + "-" + (d1.getUTCMonth()+1) + "-" + d1.getUTCFullYear();
                                }
                                if (zwierze.data_przyjecia != null) {
                                    let d2 = new Date([zwierze.data_przyjecia]);
                                    zwierze.data_przyjecia = d2.getUTCDate() + "-" + (d2.getUTCMonth()+1) + "-" + d2.getUTCFullYear();   
                                } %>
                                <td><%=zwierze.data_urodzenia%></td>
                                <td><%=zwierze.data_przyjecia%></td>
                                <td><%=zwierze.uwagi%></td>
                            </tr>
                        <% } %>
                    <% }) %>
                </tbody>
            </table>
        </div>
        
    <% }) %>
</body>

</html>